@import url("https://fonts.googleapis.com/css?family=Rubik:700");
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");

$color-black: #17252a;
$color-dark: #2b7a78;
$color-green: #3aafa9;
$color-light: #def2f1;
$color-white: #feffff;
$enable-responsive-font-sizes: true;
$hero-url: "https://images.unsplash.com/photo-1561211950-8b1eb6114d6a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80";

body {
  font-family: "Nunito", sans-serif;
}

a {
  font-family: "Rubik", sans-serif;
  color: $color-green;
  &:hover,
  &:visited,
  &:focus,
  &:active {
    color: $color-green;
    text-decoration: none;
  }
}

.jumbotron {
  background-image: url($hero-url);
  height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
}

.header {
  color: $color-white;
  h1 {
    font-family: "Rubik", sans-serif;
    font-size: 500%;
    overflow: hidden;
  }
  h2 {
    font-size: 200%;
  }
}

.about {
  padding-top: 2%;
  p {
    padding: 2% 0%;
    font-size: 120%;
    line-height: 2em;
  }
}

.links {
  margin-top: 15%;
  a {
    font-size: 120%;
    margin-right: 5%;
  }
  #git {
    color: #333;
  }
  #lki {
    color: #0077b5;
  }
  #resume {
    color: #ea4c89;
  }
}

@media all and (min-width: 700px) {
  .about {
    p {
      margin-right: 30%;
      font-size: 150%;
    }
  }
  .links {
    margin-top: 10%;
    a {
      font-size: 150%;
      margin-right: 5%;
    }
  }
}

.footer {
  img {
    width: 15%;
  }
  .credit {
    font-size: 120%;
  }
  .license {
    margin-top: 1%;
    margin-bottom: 8%;
  }
  .copy {
    margin-bottom: 2%;
  }
}
